#navbar{
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    height: 80px;
}
#myself .items{
    flex-direction: column;
}
#myself .items .item{
    width: 100%;
}
.panels .panel{
    flex-direction: column;
    text-align: center;
}
#kultur-ortapanel .items .item .img{
    max-width: 100%;
    height: auto;
}